body{
    background-color: aquamarine;
    text-align: center;
    margin-top: 200px;
}

#section{
    font-size: xx-large ;
    font: bold;
    color: purple;
}
button{
    padding: 30px;
    color:lightcoral;
}