body{
    background-color: aquamarine;
    text-align: center;
    margin-top: 200px;
    border-color: lightgrey;
    border: 150px;
}

#section{
    font-size: xx-large ;
    font: bold;
    color: purple;
}
button{
    padding: 50px;
    color:lightcoral;
    font: bold;
    border-color: black;
}
.work{
    padding-top: 20px;
    font: bold;
    font-family: sans-serif;
}