@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
font-family: 'Poppins', sans-serif;
border: 2pex solid bisque;
}

header{
    padding-top: 10px;
    min-height: 80px;
    width: 100%;
    background-color:#7e7eff;
    font-family: sans-serif;
    font-size: bold
}
.navbar{

    width: 90%;
}
a{
    text-decoration: none;
    color: black;
}

nav{

    float: right;
    padding: 25px;
    margin-top: -20px;
    
}
.intro-heder{

    min-height: 55vh;
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
    margin-left: 40px;
    float: left;
}

h2{
text-align: center;
padding-bottom: 80px;
padding-left:30px;
font-size:30px;
margin-top: 80px;
margin-bottom: 10px;
}

p{
    margin-left: 40px;
    text-align: center;
    font-size:x-large;
    margin-bottom: 10px;
    
    
}

button{

    font-size: 1em;
    background-color:#7e7eff;
    color: white;
    text-align: center;
    border:0;
    border-radius: 5px;
    padding: 10px;
   margin-left: 40%;
   margin-bottom: 20px;
   cursor: pointer;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clients{

    background-color: blanchedalmond;
    min-height: 87vh ;
    margin: auto;
    text-align: center;
}

.clients img{

    height: 35vh;
    margin: 0 2vw;
}


h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 40px;
}

.services{
    text-align: center;
    min-height:70vh;
    margin: 2px 40px;
 }
.services img{
    text-align: center;
    height: 28vh;
    align-items: center;
    margin: 0 1vw;
 }

 
h4{

    text-align: center;
    font-size: 2.5rem;
    padding: 25px;
 }
h1{
    margin-left: 80px;
    margin-bottom: 10px;


}
a{
    color: black;
}



nav a{

    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    font-style: bold;
    margin-top:-20px;
    
}

footer{

    background-color:#7e7eff;
    min-height: 7vh;
    text-align: center;
    font-style: bold;
   margin-bottom: 40px;
   color: white;
}
.container{
width: 100%;
margin:auto ;
overflow: hidden;

  }  
  a{
    color:black;
    text-decoration: none;
  }
 span{
    color: orange;
    margin-bottom: 30px;
    
 }

@media screen and (max-width:300px){
 
    nav{

        margin: 5px;
        text-align: center;
    }

    .website{
        float: left;
        width: 33%;
        padding: 20px;
    }
    .navbar a{
        float: left;
    }
.services{
    float:left;
    width:33%;
text-align: center;
padding: 10px;
}
}  
    


