*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    border: 2pex solid red;
}

header{

    min-height: 80px;
    width: 100%;
    background-color:#7e7eff;
    font-family: sans-serif;
}

.navbar{

    width: 80%;
}

nav{

    float: right;
    padding: 15px;
    margin-top: 1rem;
}
.intro-heder{

    min-height: 55vh;
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
    margin-left: 40px;
}

h2{
text-align: center;
padding: 80px;
padding-left:30px;
font-size:30px;
}
p{
    margin-left: 80px;
    font-size: x-large;
    padding-left: 30px;
    text-align: center;
    font-style: bold;
    

}


button{

    margin-left:600px;
    margin-bottom:40px;
    font-size: 1em;
    background-color:#7e7eff;
    color: white;
    text-align: center;
}

.clients{

    background-color: blanchedalmond;
    min-height: 87vh ;
    margin: auto;
    text-align: center;
}

.clients img{

    height: 35vh;
    margin: 0 2vw;
}

h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 40px;
}

.services{
    text-align: center;
    min-height:70vh;
    margin: 2px 40px;
    
 }

.services img{
    text-align: center;
    height: 28vh;
    align-items: center;
    margin: 0 1vw;
 }
 
 
h4{

    text-align: center;
    font-size: 2.5rem;
    padding: 25px;
 }
h1{
    margin-left: 80px;

}

nav a{

    color: white;
    text-decoration: none;
    margin-bottom:-30px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    font-style: bold;

    
}


footer{

    background-color:#7e7eff;
    min-height: 5vh;
    text-align: center;

}
  .container{
    margin-right: -30px;
  }  
 span{
    color: orange;
 }

@media screen and (max-width:300px){
 
    nav{

        margin: 5px;
        text-align: center;
    }

    .services{
        margin: 0;
        padding: 0%;
        width: 100vw;
    }
    


    .navbar a{
        float: left;
    }

}  
    


