@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: lightgreen;
  font-family: sans-serif;
}

 p{
  margin-top: 180px;
  text-align: center;
  font-size: large;
} 
.container {
  width: 60%;
  height:30%;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 180px;
  margin-left: 150px;
  background-color: black;
  text-align: center;
  padding-top: 50px;
  margin-top: 60px;

}

.white {
  position: relative;
  background: rgb(241, 240, 240);
  width: 10%;
  height: 200px;
  margin: 0 2px;
}

.white.black:after {
  content: "";
  position: absolute;
  top: 0;
  background: rgb(17, 11, 11);
  right: -25%;
  width: 50%;
  height: 50%;
  z-index: 1;
}