*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.nav a{
    float:right;
    margin-right: 70px;
    margin-top:10px;
}

#node4{
    min-height: 60vh;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
} 
